
/* Fonts from Google Fonts - more at https://fonts.google.com */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
@import url("https://fonts.googleapis.com/css?family=Merriweather:400,700");

body {
  padding: 5px 25px;
  margin: 0;
  
}
main {
  background-color: whitesmoke;
  padding: 5px 25px;
}
head {
  background-color: whitesmoke;
}

h3,
h6 {
  color: black;
  font-family: "Arial Black", Gadget, sans-serif;
  padding: 0.1em;
  
  font-size: 1.5em;
}
h1 {
    color: #F3DFC1;
    font-family: "Arial Black", Gadget, sans-serif;
    padding: 0.5em;
    background-color:#114B5F;
    text-align: center;
    font-size: 2.75em;
    border-color: #DDBEA8;
    border-radius: 40px;
    border-width: .5em;
    
}
h2 {
    color: #F3DFC1;
    font-family: "Arial Black", Gadget, sans-serif;
    padding: 0.25em;
    background-color:#246a73;
    text-align: center;
    font-size: 3em;
    border-top: double;
    border-bottom: double;
    border-width: .5em;
}
h4 {
color: black;
  font-family: "Arial Black", Gadget, sans-serif;
  
  
}
h5 {
    color: black;
  font-family: "Arial Black", Gadget, sans-serif;
  padding: 0.1em;
  
}
h6 {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 18px;
  text-align: left;
  color: black;
  background-color: #368F8B;
}
content {
  margin: 0 auto;
}
p {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 18px;
  border-top: 1em;
  border-bottom: 2em;
  margin-top: 1em;
  margin-bottom: 3em;
  color: black;
}
h2 {
  line-height: 3em;
  font-size: 28px;
  margin: 1em;
  border-top: 15px double;
  border-bottom: 15px double;
}
#content {
  margin: 0 auto;
}
div {
  max-width: 960px;
}
img {
  max-width: 100%;
  max-height: 100%;
}

.logo-box {
  max-width: 100%;
  max-height: 100%;
  background-color: white;
  padding: 1em;
  border: 1px solid black;
}
header {
  display: grid;
  grid-template-columns: 110px auto;
  align-items: center;
  padding-top: 3em;

}
nav ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(6em, 1fr));
  margin: 0;
  font-size: 1em;
  padding: 0;
  overflow: hidden;
  
}

nav li a {
    display: block;
    color: #160F29;    
    text-align: center;
    padding: 0.75rem;
    text-decoration: none;
    font-size: 1.5em;
    font-family: "Courier New", Courier, monospace;
    list-style: none;
    background-color: #ddbea8;
}
nav a:hover {
  color:  #F3DFC1;
  background-color: #114B5F;
  list-style: none;
}

nav {
    background-color: whitesmoke;
    list-style: none;
}

footer {
    color: white;
    text-align: center;
    padding-top: 2em;
    padding-bottom: 2em;
    background-color: #ddbea8;
}
.logo-display {
    align-content: center;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
  }
.dot1 {
    height: 100px;
    width: 100px;
    background-color: #160f29;
    border-radius: 50%;
    display: inline-block;
    align-items: center;
  }
  .dot2 {
    height: 100px;
    width: 100px;
    background-color: #246a73;
    border-radius: 50%;
    display: inline-block;
    align-items: center;
  }
  .dot3 {
    height: 100px;
    width: 100px;
    background-color: #368f8b;
    border-radius: 50%;
    display: inline-block;
    align-items: center;
  }
  .dot4 {
    height: 100px;
    width: 100px;
    background-color: #f3dfc1;
    border-radius: 50%;
    display: inline-block;
    align-items: center;
  }
  .dot5 {
    height: 100px;
    width: 100px;
    background-color: #ddbea8;
    border-radius: 50%;
    display: inline-block;
  }
  @media screen and (max-width: 550px) {
    
    
    nav ul {
      display: block;
    }
    
  }
.spec-font {
    font-family: "Courier New", Courier, monospace;
}

/*.pic-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.pic-left {
  grid-column: 1/2;
  grid-row: 1/1;
  max-width: 300px;
  max-height: 200px
}
.pic-right {
  grid-column: 2/3;
  grid-row: 1/1;
  max-width: auto;
}*/
.center1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}
