/* Fonts from Google Fonts - more at https://fonts.google.com */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");

body {
  margin: 0 auto;
  max-width: 1080px;
  float: none;
  background-color: #FBFBF2;
}

main {
  padding-left: 1em;
  padding-right: 1em;
  background-color: #E5E6E4;
}

h1 {
  color: white;
  font-family: "Arial Black", Gadget, sans-serif;
  /* background-color: #114B5F; */
  border: double;
  border-radius: 1em;
  border-width: .25em;
  padding: 1em;
  text-shadow: 2px 2px black;
  box-shadow: 2px 2px black;
  font-size: 25px;
}
h3 {
    color: #CFD2CD;
    margin: auto;
    padding-bottom: 1.55em;
    background-color: #CFD2CD;
}
.container1 {
  position: relative;
  text-align: center;
  color: white;
  padding-top: 2em;
}

img {
    max-width: 90%;
    max-height: 90%;
}
.top-left {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mySlides {
  margin: auto;
  max-height: 700px;
}
.w3-button-w3-display-left {
color: white;
font-size: 60px;
border: none;
background-color: transparent;
position: absolute;
top: 50%;
left: 10%;
transform: translate(-50%, -50%);
}

.w3-button-w3-display-right {
  color: white;
  font-size: 60px;
  border: none;
  background-color: transparent;
  position: absolute;
  top: 50%;
  right: 3%;
  transform: translate(-50%, -50%);
}
.w3-button-w3-display-left:hover {
  color: #A6A2A2;
}
.w3-button-w3-display-right:hover {
  color: #A6A2A2;
}
nav ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(6em, 1fr));
  margin: 0;
  font-size: .8em;
  padding: 0;
  overflow: hidden;
  background-color: #E5E6E4;
}

nav li a {
  display: block;
  color: #160F29;
  text-align: center;
  padding: auto;
  text-decoration: none;
  font-size: 1.45em;
  font-family: "Courier New", Courier, monospace;
  list-style: none;
  background-color: #E5E6E4;
  margin: auto;
  padding-top: 1.25em;
  padding-bottom: 1.25em;
  padding-left: .5em;
  padding-right: .5em;
  /* border-bottom: solid;
  border-width: .5em; */
}

nav a:hover {
  color: white;
  background-color: #A6A2A2;
  list-style: none;
  border-color: #A6A2A2;
}

footer {
  color: white;
  text-align: center;
  padding: 2em;
  background-color: #A6A2A2;
}
.footerlink {
  color: #CFD2CD;
}
.footerlink:hover {
  color: #847577;
  background-color: whitesmoke;
}
@media only screen and (max-width: 700px) {

  nav ul {
    display: block;
  }
  /* Style the navigation menu */
  .topnav {
    position: relative;
  }
  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none;
  }
  /* Style navigation menu links */
  .topnav a {
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
   
  }
  /* Style the hamburger menu */
  .topnav a.icon {
    background: #A6A2A2;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
}

@media only screen and (max-width: 700px) {
 
  .fullpage {
    display: none;
  }
}
@media only screen and (min-width: 700px) {
  .topnav {
    display: none;
   
  }
  nav li a {
    border-bottom: solid;
  border-width: .25em;
  }
}

label, input{
  display: block;
  color: black;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 15px;
}
label>input{
  display: inline;
}